@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --center-background: #ccb910;
  --background: #e1ddda;
  --clock-needle: #0c0c33;
  --center-text: #423600;
  --big-text: #262120;
  --number-text: #22202c;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  flex-direction: column;
}
h1 {
  text-transform: uppercase;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
  color: var(--number-text);
  margin-bottom: 8px;
}
.title {
  text-transform: uppercase;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 0.55rem;
  color: var(--number-text);
  margin-bottom: 42px;
}
.outerCircle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--number-text);
  opacity: 0.8;
  position: relative;
}
.clockCircle {
  position: absolute;
  width: 490px;
  height: 490px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--clock-needle);
  top: 50%;
  left: 50%;
  margin: -245px 0px 0px -245px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--center-background);
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.25rem;
}

button:hover {
  cursor: pointer;
  background-color: #bcab11;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: -10;
}

.hand i {
  position: absolute;
  background-color: var(--clock-needle);
  width: 5px;
  height: 200px;
  border: 8px;
}

.text {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 20px;
  right: 20px;
  top: 55%;
  text-transform: uppercase;
  text-align: center;
}

.text1 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 20px;
  right: 76px;
  top: 72%;
  text-transform: uppercase;
  text-align: center;
}

.text2 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 20px;
  right: 150px;
  top: 77%;
  text-transform: uppercase;
  text-align: center;
}

.text3 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 20px;
  right: 225px;
  top: 72%;
  text-transform: uppercase;
}

.text4 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 20px;
  right: 275px;
  top: 57%;
  text-transform: uppercase;
  text-align: center;
}

.text5 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 20px;
  right: 290px;
  top: 40%;
  text-transform: uppercase;
  text-align: center;
}

.text6 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 20px;
  right: 240px;
  top: 28%;
  text-transform: uppercase;
  text-align: center;
}

.text7 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 35px;
  right: 60px;
  top: 15%;
  text-transform: uppercase;
  text-align: center;
}

.text8 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 23px;
  right: 35px;
  top: 41%;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
